<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My Recommender Page</title>
</head>

<body>
  <h3> HI HELLO WELCOME TO MOVIE RECOMMENDER!</h3>
  <p> Please rate some movies: </p><br>
<form action="/get_recommendations" method = "GET">
  <input type="text" name="movie1"></input>
  <input type="text" name="rating1"></input><br>
  <input type="text" name="movie2"></input>
  <input type="text" name="rating2"></input><br>
  <input type="text" name="movie3"></input>
  <input type="text" name="rating3"></input><br>
  <input type="submit" value="Go get recommendations!"></input>

</form>






  <a href="https://www.google.com">Go google Shawshank Redemption. Do it now.</a>
</body>

</html>
